:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
h1 {
font-size: 3.2em;
line-height: 1.1;
}

body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: lightblue;
    /* background-image: url('../image.png'); */
}
.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    display: flex;
    width: 10px;
    height: 10px;
    flex-direction: row;
    margin-top: 20px;
}

#content {
    width: 70%;
}
.resultado{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    background-color: aqua;
}
